//! **************************************************************************
// Written by: Map P.49d on Tue Mar 26 02:01:57 2013
//! **************************************************************************

SCHEMATIC START;
COMP "b" LOCATE = SITE "U5" LEVEL 1;
COMP "g" LOCATE = SITE "P8" LEVEL 1;
COMP "r" LOCATE = SITE "R8" LEVEL 1;
COMP "hs" LOCATE = SITE "T4" LEVEL 1;
COMP "vs" LOCATE = SITE "U3" LEVEL 1;
COMP "ballspeed<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "ballspeed<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "led" LOCATE = SITE "J14" LEVEL 1;
COMP "clk50" LOCATE = SITE "B8" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "reset" LOCATE = SITE "R17" LEVEL 1;
COMP "button1" LOCATE = SITE "H13" LEVEL 1;
COMP "button2" LOCATE = SITE "B18" LEVEL 1;
COMP "button3" LOCATE = SITE "D18" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "button" LOCATE = SITE "E18" LEVEL 1;
NET "clk50_BUFGP/IBUFG" BEL "clk50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

